body {
    width: 960px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: gray;
    color: white;
    font-size: larger;
}

#heading {
    font-size: larger;
}

#heading2 {
    text-align: left;
}

th {
    padding: 18px;
}

td.description {
    font-style: italic;
}

td {
    padding: 12px;
}

th,
td {
    border: solid 1px #e6e6e6;
}

tr.even {
    background-color: #F7F7F7;
}